:root {
    --purple: #8B5CF6;
    --muted: #888;
    --text: #F4F4F4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rajdhani", sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: transparent;
    color: var(--text);
    container-type: size;
    container-name: widget;
}

.player-content-only {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    overflow: hidden;
    padding: 15px;
    gap: 15px;
}

#cover {
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    width: 80px;
    height: 80px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label {
    font-size: 0.65rem;
    letter-spacing: 2px;
    color: var(--purple);
    margin: 4px 0 0;
    text-transform: uppercase;
}

#song {
    font-size: 1.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}

#artist {
    font-size: 0.9rem;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#album {
    color: var(--muted);
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.progress-area {
    padding: 0 15px 15px;
    display: flex;
    flex-direction: column;
}

.progress {
    height: 6px;
    background: #242424;
    border-radius: 999px;
    overflow: hidden;
}

#bar {
    width: 0;
    height: 100%;
    background: linear-gradient(90deg, #8B5CF6, #B695FF);
    transition: width 0.2s linear;
}

.time {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    color: #9c9c9c;
    font-size: 0.75rem;
}

.spotify-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    padding: 8px 12px;
    border: 1px solid var(--purple);
    border-radius: 8px;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-size: 0.8rem;
    transition: .25s;
}

.spotify-button:hover {
    background: var(--purple);
    box-shadow: 0 0 15px rgba(139, 92, 246, .45);
}

/* 1. MODO BARRA HORIZONTAL (Oculta botón y álbum) */
@container widget (max-height: 200px) {
    #cover { width: 60px; height: 60px; }
    .label.album-label, #album, .spotify-button { display: none; }
}

/* 2. MODO TARJETA VERTICAL */
@container widget (min-height: 201px) and (max-width: 400px) {
    .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #cover { width: 140px; height: 140px; }
}

/* 3. MODO GRANDE */
@container widget (min-height: 201px) and (min-width: 401px) {
    .content { justify-content: center; align-items: center; }
    #cover {
        position: absolute; inset: 0; width: 100%; height: 100%;
        opacity: 0.2; border-radius: 0; object-fit: contain; z-index: -1;
    }
}
